:root{
	--ivory-bg:white;
	--ebony-bg:black;
	--ivory-color:black;
	--ebony-color:white;

	--active-key : #6fa0e6;
	--num_of_keys:26;

	--ivory-w : calc(100%/( var(--num_of_keys) ));
	--ebony-w : 60%;

	--keyboard-h:220px;
}

body{
	background: #606060;
	position : relative;
	overflow: hidden;
}

.piano{
	width: 100%;
}

.keyboard{
	height: var(--keyboard-h);
	font-family: sans-serif;
	text-align: center;
}

.key-set-relative{
	display: inline-block;
	width: var(--ivory-w);
	position: relative;
	margin: 0 5px;
}

.ivory-key{
	background-color: var(--ivory-bg);
	color: #f3b645;
  font-weight: bold;
	height: var(--keyboard-h);
	width: 100%;
	box-shadow: 1px 1px 1px 1px white;

	border: 1px solid black;
  border-width: 0 5px 20px;
  border-color: #d3d1d3;
  border-bottom-color: #ecece7;
  box-shadow: 0 3px 5px #ccc, inset 0px 0px 0px 1px rgba(220, 220, 220, 0.2);

}

.piano-key-active{
	box-shadow: none;
	background: var(--active-key) !important;
	border-bottom-width: 10px;
	padding-top: 10px;
}

.ivory-key:active{
	box-shadow: none;
	background: var(--active-key);
	border-bottom-width: 10px;
	padding-top: 10px;
}

.ebony-key{
	position: absolute;
    right: calc(-1* (var(--ebony-w)/2 + 15px ) );
    top: 0;
    z-index: 2;

	background-color: var(--ebony-bg);
	color: #ffcb6a;
	height: 60%;
	width: var(--ebony-w);

	border: 5px solid black;
  border-width: 0px 5px 10px;
  border-color: #000;
  border-bottom-color: #424546;
  background: #211f1f;
  box-shadow: 0 3px 5px #ccc, inset 0px 0px 0px 1px rgba(220, 220, 220, 0.2);

}


.ebony-key:active{
	box-shadow: none;
	background: var(--active-key);
}


.key-label{
	width: 100%;
	position: absolute;
	bottom: 2rem;
	text-align: center;
}

/*--------Dashboard--------*/
.dashboard{
	height: 400px;
}

.btn-inner-div{
	display: flex;
    align-items: center;
    justify-content: center;
}

.btn-label{
	margin: 0 0.5rem;
}

.dash-btn{
    color: #ffcb6a;
    background: black;
    margin: 0 1rem;
    border: 3px solid #ffcb6a;
}

.dash-btn:hover{
	color: black;
	background: #ffcb6a;
    border-color: black;
}

.dash-btn:focus{
	outline: none;
}

.flex-center{
	display: flex;
    align-items: center;
    justify-content: center;
}

.time-steps-div{
	height: 3.5rem;
	color: #ffcb6a;
  background: black;
  margin: 0 1rem;
  border: 3px solid #ffcb6a;
}

.time-steps-div:focus{
	outline: none;
}

.time-steps-input{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 3rem;
    outline: none;
    color: #ffcb6a;
    background: #ffffff00;
    border: 0;
    border-left: 2px solid #ffcb6a;
}

.time-steps-label{
  	padding: 0 1rem;
    font-family: sans-serif;
    font-size: 14px
}

.maker-tag{
  padding: 20px 70px;
  margin: 100px auto;
  text-align: center;
  background: black;
  color: #ffcb6a;
  font-family: sans-serif;
  width: max-content;
  border: 0.4rem solid #ffcb6a;
}

/*Remove default increment and decrement buttons*/
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}


/*---Animated Bubbles---*/

@keyframes animateBubble {
    0% {
        top:0vh;
    }
    100% {
        top: -100vh;
        display: none;
    }
}

@keyframes sideWays1 { 
    0% { margin-left:0px; }
    100% { margin-left:150px; }
}
@keyframes sideWays2 { 
    0% { margin-left:150px; }
    100% { margin-left:0px; }
}
@keyframes sideWays3 { 
    0% { margin-left:-75px; }
    100% { margin-left:75; }
}
@keyframes sideWays4 { 
    0% { margin-left:60px; }
    100% { margin-left:-100px; }
}
@keyframes sideWays5 { 
    0% { margin-left:50px; }
    100% { margin-left:-100px; }
}
@keyframes sideWays6 { 
    0% { margin-left:100px; }
    100% { margin-left:-50px; }
}
/* ANIMATIONS */

.bubble-anim {
	animation: animateBubble 5s linear , sideWays 2s ease-in-out infinite alternate;
	left: -5%;
	top: 5%;
}

.bubble {
	border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 20px rgb(255 218 149 / 95%);
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: -5;
}

.bubble:after {
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	border-radius: 50%;
	
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}


/* Spinner Taken from loading.io */
.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #ffcb6a;
  animation: spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.spinner div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.spinner div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.spinner div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes spinner {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}




