<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8" />
    <title>The PIANIST</title>
    <script src="https://unpkg.com/react@16.7.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.development.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.8.25/Tone.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
    rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/carpe_diem.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

  </head>
  <body>

    
    <div id="root">
      
    </div>

    <script src="/static/lib/require.js"></script>
    <script type="module" src="/static/build/app.js"></script>
    <script src="/static/build/key-utils.js"></script>
    <script type="text/javascript">
      
      
      //window.addEventListener('load',function(){ 
      //console.log("DOM loaded")
       // var myVar = setInterval(myTimer, 500);
       // var i = 0;
       // let key_temp = ["C4","C4","D4","C4","G4","F4",
       //              "C4","C4","C4","A4","F4","E4","D4",
       //              "A#4","A#4","A4","F4","G4","F4","F4"]

       //  function myTimer() {
          
       //    i = i+1;
       //    if(key_temp.length > i){
            
       //      let key_div = document.getElementById(key_temp[i]);

       //      if( !key_div.classList.contains('piano-key-active') ){
       //        key_div.classList.add('piano-key-active');
       //      }
      // 
      //       key_div.click();
      //     }else{
      //       clearInterval(myVar);
      //     }

      //   }  
  
      // });

      var record_obj = []
      var is_recording = false

      var key_pressed = {}
      document.addEventListener('keydown',function(e) {
          
          // console.log(e)

          if( e.code in keymap && e.repeat!=true ){

            let keyid = keymap[e.code];
            key_pressed[keyid] = 1

            let key_div = document.getElementById(keyid);

            if( !key_div.classList.contains('piano-key-active') ){
              key_div.classList.add('piano-key-active');
            }
            
            key_div.click();

          }

      });


      var key_sequence = {}
      document.addEventListener('keyup',function(e){
         
        if( e.code in keymap){
          let keyid = keymap[e.code];

          key_sequence[keyid] = 1
          delete key_pressed[keyid]

          if( Object.keys(key_pressed).length === 0 ){
            all_seq = Object.keys(key_sequence)
            key_sequence = {}
            console.log(all_seq)
            if( is_recording ){
              record_obj.push(all_seq)
            }
          }

          let key_div = document.getElementById(keyid);
          if( key_div.classList.contains('piano-key-active') ){
              key_div.classList.remove('piano-key-active');
          }
            
        }

      });

    </script>

  </body>
</html>