<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8" />
    <title>The PIANIST</title>
    <script src="https://unpkg.com/react@16.7.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.development.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.8.25/Tone.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
    rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/carpe_diem.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

  </head>
  <body>

    
    <div id="root">
      
    </div>

    <script type="module" src="/static/build/app.js"></script>
    <script src="/static/build/key-utils.js"></script>
    <script type="text/javascript">
      
      //Global object to store notes and chord,
      // when recording is on.
      var record_obj = []
      // Store boolean if recording
      var is_recording = false

      // Stores keys pressed together,
      // to record chords
      var key_pressed = {}
      document.addEventListener('keydown',function(e) {
          // key_map has keys of computer corresponding 
          // to piano keys
          if( e.code in keymap && e.repeat!=true ){

            // Octave notes are id of div to press
            let keyid = keymap[e.code];
            // Add to pressed list
            key_pressed[keyid] = 1

            // Perform click on key_div and apply highlightinh css
            let key_div = document.getElementById(keyid);

            if( !key_div.classList.contains('piano-key-active') ){
              key_div.classList.add('piano-key-active');
            }
            
            key_div.click();

          }

      });


      var key_sequence = {}
      document.addEventListener('keyup',function(e){
         
        if( e.code in keymap){
          let keyid = keymap[e.code];

          // When key is lifted, remove it from pressed list
          key_sequence[keyid] = 1
          delete key_pressed[keyid]

          // When no keys are currently pressed,
          // store previous keys in record object
          if( Object.keys(key_pressed).length === 0 ){
            all_seq = Object.keys(key_sequence)
            key_sequence = {}

            if( is_recording ){
              record_obj.push(all_seq)
            }
          }

          // Remove active css
          let key_div = document.getElementById(keyid);
          if( key_div.classList.contains('piano-key-active') ){
              key_div.classList.remove('piano-key-active');
          }
            
        }

      });




    </script>

  </body>
</html>